/* universal style sheet for all pages */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&family=Merriweather:wght@300;400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
/* container size for all pages */
.container {
  max-width: 1320px;
  margin: 0px auto;

}

.section {
  margin: 70px 10px;
}

/* ............................
header style goes here 
.............................*/
header {
  background: linear-gradient(
      180deg,
      rgba(7, 2, 17, 0.7) 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../image/Banner\ Image.png"); /* Background image */
  text-align: center;
  text-align: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  border-radius: 16px;
  background-size: 90% 90%;
}
.banner {
  font-family: Merriweather;
  text-align: center;
  color: #fff;
  max-width: 650px;
  margin: 0 auto;
}
.banner-title {
  padding: 220px 0px 16px 0px;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}
.banner-content {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
}
/* .....................
header style ends here 
.......................*/

/* main section start here */
/* money-off section starts here */
.money-off-content {
  text-align: center;
  font-family: Inter;
}
.money-off-title {
  color: #f00;
  font-size: 75px;
  font-weight: 700;
  padding-bottom: 20px;
}
.money-off-text {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 12px;
}
.category-sale {
  color: #070211;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 30px;
}
.money-off-content img {
  max-width: 80%;
}
 /* .....................
moneyoff section style ends here 
.......................*/


/* 
midnight party starts here 
  */
.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.3) 100%),
    url("../image/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 140px;
}
.party-content {
  max-width: 550px;
}
.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  max-width: 450px;
}
.party-text {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  padding: 20px 0px 30px 0px;
}
.party-img {
  max-width: 25%;
}
.party-btn {
  background: #f00;
  color: #fff;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* 
midnight party ends here 
  */

/* 
party location section starts here
 */
.party-location {
  text-align: center;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  max-width: 90%;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 12px;
  padding: 100px 0px;
}
.location-content {
  color: #070211;
  font-family: Inter;
  font-size: 21px;
  line-height: 40px;
  font-weight: 600;
  text-transform: capitalize;
}
.join {
  margin-top: 35px;
  padding: 16px 32px;
  background-color: #f00;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* 
party location section ends here
 */

/* new-offer section starts below  */
.new-offer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Inter;
  padding: 30px 00px;
}
.new-offer > img {
  max-width: 20%;
  border-radius: 463px;
  border: 10px solid #f00;
  padding: 15px;
}
.best-offer,
.new-year {
  max-width: 380px;
  text-align: justify;
}
.offer-title {
  color: #f00;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
}
.comming-offer {
  color: #070211;
  font-family: Merriweather;
  font-size: 35px;
  font-weight: 900;
  text-transform: capitalize;
}
.offer-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  line-height: 25px; /* 160% */
}
.new-year-title {
    padding-top: 100px;
  color: #f00;
  font-family: Inter;
  font-size: 35px;
  font-weight: 700;
}
.new-year-para {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 30px;
}
.new-year-img {
  width: 120px;
  height: 120px;
}
/* 
new offer section ends here
 */

/* 
holiday sale section starts here
  */
.holiday-sale-content {
  text-align: center;
  color: #070211;
  max-width: 1000px;
  margin: 0 auto;
}
.holiday-sale-function {
  font-family: Inter;
  font-size: 19px;
  font-weight: 500;
  padding: 16px 0px;
}
.holiday-sale-title {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 24px;
}
.holiday-sale-title span {
  color: #f00;
  font-family: Merriweather;
}
.holiday-sale-text {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 15px;
  line-height: 28px;
}
.holiday-sale-image{
    margin-top: 170px;
    background-image: url("../image/Rectangle\ 2.png");
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-x;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 45px;
}
.box{
  display: inline-block;
  width: 50%;
  
}

.girl-image{
    position: relative;
    top: -210px;
    left: 180px;
    z-index: 1;
}
.top-image{
    position: absolute;
    top: -75px;
    left: 640px;
    z-index: 2;
}
/* 
holiday sale section ends here
  */

/* 
awesome-portfolio section starts here 
*/
.awesome-portfolio{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}
.portfolio{
    color: #F00;
font-family: Inter;
font-size: 18px;
font-weight: 500;
}
.awesome-portfolio-title{
    color: #070211;
font-family: Merriweather;
font-size: 36px;
font-weight: 900;
text-transform: capitalize;
}
.awesome-portfolio-text{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 16px;
line-height: 27px;
}
.image-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-flexbox img {
  display: inline-block;
  max-width: 37%;
  border-radius: 16px;
  margin: 10px 10px;
}
.awesome-portfolio-images {
  max-width: 87%;
  margin: 0 auto;
}
.awesome-portfolio-images img:hover {
    transform: scale(1.7);
    transition: 1.9s;
    border: 10px solid #f00;
    
}
/* 
awesome-portfolio section ends here 
*/

/* 
subscribe section starts here 
*/
.subscribe {
  padding: 65px 0px;
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  
}
.subscribe-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 36px 0px 18px 0px;
}
.subscribe-para{
color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 16px;
line-height: 27px; 
width: 60%;
margin: 0 auto;
}
.subscribe-input input {
    margin-top: 30px;
  border-radius: 50px 0px 0px 50px;
  border: none;
  padding: 17px 32px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  color: #f00;
  outline: none;
  width: 40%;
  margin-left: 0px;
}
.subscribe-btn {
  border-radius: 0px 50px 50px 0px;
  margin-left: -50px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  padding: 17px 32px;
  border: none;
  cursor: pointer;
}
/* 
subscribe section ends here 
*/

/* 
footer section starts here
 */ 
footer{
    margin-top: 100px;
    background: #070211;
    color: #FFF;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px;

}
.footer-content{
    padding: 100px 20px 50px 20px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-top:1px solid rgba(255, 255, 255, 0.15);
    border-bottom:1px solid rgba(255, 255, 255, 0.15);
    margin: 0 120px;
    padding: 30px 0px;

}
.unsubscribe{
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
}

/* 
footer section ends here
 */ 